{% extends 'base.html' %}
{% block Signup %} Signin -  {% endblock Signup %}
{% block body %}

<div class="container my-4" style="width: 700px;">
<!--    class="row g-4 needs-validation" novalidate-->
        <form action="/signin" method="POST">
            {{form.hidden_tag()}}
            <h1>Welcom to CampFood web app!</h1>
            <h2>Signin</h2>

            <div class="col-12 my-2">{{form.username.label(class="form-label")}}</div>
            <div class="col-12 my-0">{{form.username(class="form-control", style="width: 400px")}}</div>

            <div class="col-12 my-3">{{form.password.label(class="form-label")}}</div>
            <div class="col-12 my-0">{{form.password(class="form-control", style="width: 400px")}}</div>
            <ul>
                {% for msg in get_flashed_messages() %}
                <li style="color:black;">{{ msg }}</li>
                {% endfor %}
            </ul>

            <div class="md-3 my-3" style="width:800 px">
                <a href="/" class="btn btn-primary" type="button">Back</a>
                <button class="btn btn-primary mx-3" type="submit">Signin</button>
            </div>


        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</div>

{% endblock body %}