{% extends 'base.html' %}
{% block Signup %} Signup -  {% endblock Signup %}
{% block body %}
<div class="container my-5 mx-10" style="width: 800px;height: 100px">

    <form action="/signup" method="POST">
        {{form.hidden_tag()}}
        <h1>Welcome to CampFood web app! Signup</h1>

        <div class="col-12 my-1">{{form.fullname.label(class="form-label")}}</div>
        <div class="col-12 my-0">{{form.fullname(class="form-control", style="width: 400px")}}</div>
        <ul>
            {% for error in form.fullname.errors %}
            <li style="color:black;">{{error}}</li>
            {% endfor %}
        </ul>

        <div class="col-12 my-2">{{form.username.label(class="form-label")}}</div>
        <div class="col-12 my-0">{{form.username(class="form-control", style="width: 400px")}}</div>
        <ul>
            {% for error in form.username.errors %}
            <li style="color:black;">{{error}}</li>
            {% endfor %}
        </ul>

        <div class="col-12 my-2">{{form.email.label(class="form-label")}}</div>
        <div class="col-12 my-0">{{form.email(class="form-control", style="width: 400px")}}</div>
        <ul>
            {% for error in form.email.errors %}
            <li style="color:black;">{{error}}</li>
            {% endfor %}
        </ul>

        <div class="col-12 my-2">{{form.password.label(class="form-label")}}</div>
        <div class="col-12 my-0">{{form.password(class="form-control", style="width: 400px")}}</div>

        <div class="col-12 my-2">{{form.confirm_password.label(class="form-label")}}</div>
        <div class="col-12 my-0">{{form.confirm_password(class="form-control", style="width: 400px")}}</div>
        <ul>
            {% for error in form.password.errors %}
            <li style="color:black;">{{error}}</li>
            {% endfor %}
        </ul>

        <div class="col-12 my-2">{{form.ph_no.label(class="form-label")}}</div>
        <div class="col-12 my-0">{{form.ph_no(class="form-control", style="width: 400px")}}</div>
        <ul>
            {% for error in form.ph_no.errors %}
            <li style="color:black;">{{error}}</li>
            {% endfor %}
        </ul>

        <div class="col-10 my-2" style="width:400 px">
            <button class="btn btn-primary mx-3" type="submit">Signup</button>
            <a href="/" class="btn btn-primary" type="button">Back</a>
        </div>

    </form>

</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
{% endblock body %}